<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.truruler.truruler">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Preferences" />
        <activity android:name=".ResizeActivity" />
        <activity
            android:name="measurements.MeasurementsOverviewActivity"
            android:label="Saved Measurements"
            android:theme="@style/PopupTheme" />
        <activity
            android:name="measurements.MeasurementsDetailActivity"
            android:theme="@style/AppActionBarTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <provider
            android:name="contentprovider.MeasurementsContentProvider"
            android:authorities="contentprovider" />
        <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="${applicationId}.provider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths" />
    </provider>

        <activity android:name=".DrawOnPhotoActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".PhotoGridActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="photoviewer.DetailActivity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".StickerTest"></activity>
    </application>

</manifest>